.productsHeading {
  color: #cb997e;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4vmax;
  border-bottom: 2px solid #ddbea9;
  width: 20vmax;
  padding: 1vmax;
  margin: 2vmax auto;
}

.products {
  border-left: 1px solid rgb(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  padding: 0 3vmax;
  margin-left: 18vmax;
  margin-right: 3vmax;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.pagination {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vmax auto 0 auto;
}
.filterBox {
  width: 14vmax;
  position: absolute;
  top: 15vmax;
  left: 1vmax;
}

.categoryBox {
  padding: 0%;
}
.category-link {
  list-style: none;
  color: rgb(203, 153, 126, 0.7);
  font: 400 1vmax "Montserrat";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.1s;
}
.category-link:hover {
  color: #cb997e;
}

@media screen and (max-width: 600px) {
  .products {
    margin-left: 0;
    margin-right: 0;
  }
  .filterBox {
    position: unset;
    margin: 1vmax auto;
    width: 20vmax;
  }
  .category-link {
    font: 400 1.3vmax "Montserrat";
  }
}
