.ProductDetails {
  display: flex;
  justify-content: center;
}
.ProductImages,
.ProductInformation {
  margin-top: 1vmax;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  border: 1px solid white;
}
.ProductInformation {
  align-items: flex-start;
  margin-right: 1vamx;
}
.ProductImages {
  width: 100%;
  margin-left: 1vmax;
}
.DetailsBlock-1 > h2 {
  color: #ddbea9;
  font: 600 1.6vmax "Montserrat";
}
.DetailsBlock-1 > p {
  color: #ddbea9;
  font: 200 0.8vmax "Montserrat";
}
.DetailsBlock-2 {
  border-top: 1px solid rgb(183, 183, 164, 0.5);
  border-bottom: 1px solid rgb(183, 183, 164, 0.5);
  width: 50%;
}
.DetailsBlock-3 {
  width: 70%;
}
.DetailsBlock-3 > h1 {
  color: #cb997e;
  font: 600 1.8vmax "Montserrat";
  margin: 1vamx 0;
}
.DetailsBlock-3-1 {
  display: flex;
  align-items: center;
}
.DetailsBlock-3-1-1 > button {
  border: 1px solid rgb(183, 183, 164, 0.5);
  background-color: #eee;
  padding: 0.5vmax;
  cursor: pointer;
  color: #cb997e;
  font: 500 1vmax "Montserrat";
  transition: all 0.5s;
}
.DetailsBlock-3-1-1 > button:hover {
  background-color: #b7b7a4;
}
.DetailsBlock-3-1-1 > input {
  background-color: #eee;
  border: 1px solid rgb(183, 183, 164, 0.5);
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 500 1vmax "Montserrat";
  color: #cb997e;
}
.DetailsBlock-3-1 > button:last-child {
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  background-color: #cb997e;
  border-radius: 5px;
  font: 500 1vmax "Montserrat";
  padding: 0.6vmax 2vmax;
  margin: 1vmax;
  outline: none;
}
.DetailsBlock-3-1 > button:last-child:hover {
  background-color: #ddbea9;
}
.DetailsBlock-3 > p {
  border-top: 1px solid rgb(183, 183, 164, 0.5);
  border-bottom: 1px solid rgb(183, 183, 164, 0.5);
  width: 73%;
  padding: 0.8vmax 0;
  color: #cb997e;
  font: 400 1vmax "Montserrat";
  margin: 1vmax 0;
}
.DetailsBlock-4 {
  color: rgb(203, 153, 126, 0.9);
  font: 500 1.2vmax "Montserrat";
}
.DetailsBlock-4 > p {
  color: rgb(203, 153, 126, 0.5);
}
.SubmitReview {
  border: none;
  background-color: #cb997e;
  font: 700 1vmax "Montserrat";
  border-radius: 5px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}
.SubmitReview:hover {
  background-color: rgb(203, 153, 126, 0.5);
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .ProductDetails {
    flex-direction: column;
    height: unset;
    align-items: center;
  }
  .ProductImages {
    width: 80%;
  }
  .ProductInformation {
    align-items: center;
  }
  .DetailsBlock-1 > h2 {
    font-size: 2.8vmax;
    text-align: center;
  }
  .DetailsBlock-1 > p {
    font-size: 1vmax;
    text-align: center;
    margin-bottom: 2vmax;
  }
  .DetailsBlock-2 {
    align-items: center;
    justify-content: center;
  }
  .DetailsBlock-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .DetailsBlock-3 > h1 {
    margin-top: 2vmax;
    font: 700 3vmax "Montserrat";
    justify-content: center;
    text-align: center;
  }
  .DetailsBlock-3-1 {
    flex-direction: column;
    align-items: center;
  }
  .DetailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
  .DetailsBlock-3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
    font: 400 1.8vmax "Montserrat";
  }
  .DetailsBlock-3-1-1 > input {
    padding: 1.2vmax;
    width: 3vmax;
    font: 400 1.8vmax "Montserrat";
  }
  .DetailsBlock-3-1 > button:last-child {
    font: 500 1.7vmax "Montserrat";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }
  .DetailsBlock-3 > p {
    padding: 1.8vmax 0;
    text-align: center;
    width: 60%;
    font: 400 1.8vmax "Montserrat";
  }
  .DetailsBlock-4 {
    font: 500 2.5vmax "Montserrat";
  }
  .DetailsBlock-4 > p {
    font: 300 1.8vmax "Montserrat";
  }
  .SubmitReview {
    font: 500 1.8vmax "Montserrat";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }
}
